# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
*.log

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
