SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Set to True to use PostgreSQL instead of SQLite
USE_POSTGRES=False
DB_NAME=intellihire_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
